:root {
  --primary-dark-color: rgb(33, 22, 54);
  --primary-white-color: #fff;
  --primary-accent-color: rgb(116, 239, 250);
  --secondary-accent-color: rgba(116, 239, 250, 0.185);
}

body {
  background-color: var(--primary-dark-color);
}

#tsparticles {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
}

#hometext {
  height: 100vh;
  padding: 0 2rem;
  
  
}


/*---------------------- UTILITY ---------------------*/

.highlight {
  color: var(--primary-accent-color);
}

.text {
  color: var(--primary-white-color);
  background: rgba(0, 0, 0, 0.089);
  padding: 1rem 2rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.text {
  font-size: 3.5rem;
}





/*---------------------- NAV ---------------------*/

nav.navbar {
  width: 80%;
  margin: 0 auto;
  background: var(--secondary-accent-color);
  padding: 0;
  display: flex;
  justify-content: center;
  height: 5%;
}

nav.navbar button {
  margin: .5rem;
}


.navbar-nav .nav-item .nav-link {
  color: var(--primary-dark-color);
  font-weight: 800;
  text-transform: uppercase;
  padding: .5rem;
}

.navbar-nav div {
  display: flex;
  justify-content: center;
}

.row .navbar-nav .nav-item .nav-link:hover {
  color: var(--primary-accent-color); 
}

.nav-item .active {
  color: var(--primary-accent-color); 
  background: var(--primary-dark-color);
  
}

/*---------------------- FORM ---------------------*/

label {
  color: var(--primary-white-color);
}

.btn-outline-info {
  border: .25rem solid var(--secondary-accent-color);
  color: var(--primary-white-color);
  width: 100%;
  padding: 1rem;
  margin-top: .5rem;
  
}

.btn-outline-info:hover {
  background: var(--secondary-accent-color);
  color: var(--primary-white-color);
  border: 1px solid white;

}

p.text {
  font-size: 1.5rem;
}



.contact-form p, .contact-form h1 {
  padding: 0;
  background: none;
}

h1.text {
  padding-top: 1rem;
}


.form-group {
  margin: 1rem 0;
}

.form-group label {
  font-size: 2rem;
}

.form-group input, .form-group textarea {
  background-color: var(--secondary-accent-color);
  color: white;
  font-size: 1.5rem;
}

.contact-form {
  width: 80%;
  margin: 0 10%;
  z-index: 1;
}












